/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}

/* CSS variables */
:root{
    --navbar-height: 59px;

}
/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
}

/* Navigation bar: Logo and image */
#logo{
    margin: -20px 40px;

}
#logo img{
    height: 126px;
    margin: -6px -43px;

}

/* Navigation bar: List styling */
#navbar{
    position: relative;
    display: flex;
    top: 0px;
    align-items: center;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: '';
    background-color: black;
    position: absolute;
    height: 96%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

#navbar ul li{
    
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: rgb(8, 1, 1);
    display: block;
    padding: 10px;
    padding-right: 37px;
    padding-left: 37px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 395px;

}

#home::before{
    content:'';
    background: url('../../img/bg/bg1.jpg') no-repeat center center/ cover;
    position: absolute;
    height: 57%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-size: 3.8rem;
    
}
#home p{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Service center */
#services{
    margin: 34px;
    display: flex;
    justify-content: center;
}
#services .box{
    border: 2px solid brown;
    padding: 23px;
    margin: 4px;
    border-radius: 23px;
    background-color: lightgray;
}

#services .box img{
    height: 200px;  
    margin: auto;
    display: block;
}
#services .box p{
    /* None */

}
/* Client section */
#client-section{
    height: 344px;

}
#client-section::before{
    content: "";
    position: absolute;
    background: url("../../img/Random/pizza.jpg");
    width: 100%;
    height: 40%;
    z-index: -1;
    opacity: 0.6;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 167px;
}
.client-item{
    padding: 53px;
}
.h-primary center{
    font-size: 38px;
}
/* Contact section */
#contact{
    position: relative;

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background: url("../../img/Random/contact.jpg");
}
#contact-box form{

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:35px ;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;

}
/* #contact-box label{
    fint
} */

/* utility class */
.j-primary{
     font-size: 3rem; 
    padding: 12px;
     
}
.h-secondary center{
     font-size: 2.3rem;
    padding: 12px; 
} 
.btn{
    padding: 6px 20px;
    border: 2px solid whitesmoke;
    background-color: brown;
    color: white;
    margin: 12px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.btn:hover{
    cursor: pointer;
}
.center{
    text-align: center;
    margin-top: 35px;

}